$body-background: #ffffff; // цвет фона
$white : #ffffff;
$black : #000000;
$accent-color: #da491c;  // цвет темы
$light-grey: #f0eeee;
$dark-grey: #383838;
//КНОПКИ
$button-color: #393939;  // темный
$button-color2: #da491c; // оранж
//ТЕКСТ
$titles-color : #000000;  // заголовки
$text-color: #333333; // цвет основного текста
//Переменные футера
$footer-title: #4c4b4b;
$footer-text: #999999;
$footer-bg: #292929;