extends _layout.pug
block header
    include ./_includes/_layout/landing-sections/_01header.pug
block main
    include ./_includes/_layout/landing-sections/_02intuitive.pug
    include ./_includes/_layout/landing-sections/_03specialty.pug
    include ./_includes/_layout/landing-sections/_04team.pug
    include ./_includes/_layout/landing-sections/_05doit.pug
    include ./_includes/_layout/landing-sections/_06happyClients.pug
    include ./_includes/_layout/landing-sections/_07design.pug
    include ./_includes/_layout/landing-sections/_08q&a.pug
    include ./_includes/_layout/landing-sections/_09features.pug
    include ./_includes/_layout/landing-sections/_10works.pug
    include ./_includes/_layout/landing-sections/_11brands.pug
    include ./_includes/_layout/landing-sections/_12devices.pug
    include ./_includes/_layout/landing-sections/_13tables.pug
    include ./_includes/_layout/landing-sections/_14articles.pug
    include ./_includes/_layout/landing-sections/_15contacts.pug
